
@using eManager.WebModels;
@model ClientViewModel

@{
    ViewBag.Title = "Remove client";
    Layout = "_Layout";

}

<div class="modal fade" id="removeClientModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Are you sure you want to delete @Model.Name from registry?</h4>
            </div>

            <div class="modal-body">
                <form method="post" asp-controller="Client" asp-action="RemoveClient">
                    <input type="hidden" name="ClientId" value="@Model.ClientId" />
                    <button type="submit" class="btn btn-danger">Remove</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("ShowClients", "Client")'">Cancel</button>
                </form>


            </div>

        </div>
    </div>
</div>



<script>
    $(function () {
        $("#removeClientModal").modal();
    });
</script>


