@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Header -->
<header class="bg-primary py-1 mb-1">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  style="height:300px;width:100%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/panelImage.jpg" alt="First slide" style="height:300px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/Insulation.jpg" alt="Second slide" style="height:300px">
            </div>
            </div>
        </div>
</header>



<!-- Page Content -->
<div class="container">

    <div class="row" id="container">
        <div class="col-md-8 mb-5">
            <h2> <a href="">What We Do</a></h2>
            <hr>
            <p>
                Ognootporno is incorporated in 1967 to serve as part of the main steel factory “Rudnici I Zhelezarnica” in Yugoslavia. Its main objective was to provide refractory services for the factory by doing hot general repairs, preventive refractory services in order to keep the units and process running.
                Since 1995, we operate in industry as private own company in Skopje, Republic of Macedonia. Our experience helped us to grow in one of the leading company for refractory services in this region.
                Our team of engineers and bricklayers share 20 years of experience in refractory services. Our success is based on being able to respond immediately at any time with inspection and solution in least amount of time.When dealing with projects, we place enormous emphasis on the safety of our refractory and insulating works, so all of our personnel are well educated in safety operations.
            </p>

           
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <img src="~/images/logo.png" width="80" height="60" /><br />
                <strong>OGNOOTPORNO d.o.o.</strong>
                <br>16 Makedonska brigada, no.18
                <br>Skopje 1000, North Macedonia
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (389) 3287-801  | (389) 78360-551
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">ognootporno@ognootporno.com.mk</a>
            </address>
        </div>
    </div>
    

</div>