
@using eManager.WebModels;
@model ActivityViewModel

@{
    ViewBag.Title = "Remove activity";
    Layout = "_Layout";

}

<div class="modal fade" id="removeActivityModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Are you sure you want to delete @Model.Description?</h4>
            </div>

            <div class="modal-body">
                <form method="post" asp-controller="Employee" asp-action="RemoveEmployee">
                    <input type="hidden" name="Id" value="@Model.ActivityId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("EmployeesActivities", "Employee")'">Cancel</button>
                </form>


            </div>

        </div>
    </div>
</div>



<script>
    $(function () {
        $("#removeActivityModal").modal();
    });
</script>


